.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.navbar-right,
.social-icons,
.navbar-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.social-icon {
  width: 24px;
  height: 24px;
  fill: red;
}


