.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right,
.social-icons,
.navbar-links {
  display: flex;
  align-items: center;
}

.social-icon {
  width: auto;
  height: 30px;
  fill: red;
}

.cv-btn {
  font-weight: 500;
  border-radius: 60px;
}


