@import "tailwindcss";

@theme {

  /*Font styles*/
  --font-sans-serif: "jovie", sans-serif;
  --font-weight-regular: 400;
  --font-sans: "neue-haas-grotesk-display", sans-serif;
  
  /*Color styles*/
  --color-light: #FDFAF5;
  --color-dark: #141015;
  --color-faded: #433844;
  --color-accent: #CAEA96;
  --color-danger: #e64242;
  --color-success: #04a336;

  /*Spacing styles*/
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-navbar: 80px;

}

@utility link-underline {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    height: 3px;
    width: 100%;
    background-color: var(--color-dark);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease;
  }

  &:hover::after {
    transform: scaleX(1);
  }

}

body {
  font-family: var(--font-sans-serif);
  font-weight: var(--font-weight-regular);
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-light);
}

section {
  max-width: 1500px;
}
h1 { 
  font-size: 4rem;
  font-family: var(--font-sans-serif);
  font-weight: var(--font-weight-regular);
}

.highlight {
  font-family: var(--font-sans-serif);
  font-size: 2rem;

}

.main-heading {
  max-width: 650px;
}

.hero-container {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}